<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>申诉管理</title>
		<meta name="keywords" content="申诉管理">
		<meta name="申诉管理">
		<include file='Public:common_file' />
	</head>
	<body class="gray-bg">
	    <!--<div class="row wrapper border-bottom white-bg page-heading">
	        <div class="col-sm-4">
	            <h2>申诉管理</h2>
	            <ol class="breadcrumb">
	                <li>
	                    <a href="javascript:void(0);">主页</a>
	                </li>
	                <li>
	                    <a href="javascript:void(0);">系统管理</a>
	                </li>
	                <li>
	                    <strong>申诉管理</strong>
	                </li>
	            </ol>
	        </div>
	    </div>-->
		<div class="wrapper wrapper-content animated">
			<div class="ibox float-e-margins">
				<!-- Panel Style -->
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>申诉管理</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
							<a class="close-link">
								<i class="fa fa-times"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content">
						<div class="row row-lg">
							<div class="col-sm-12 me-search" >
								<input id="search_name" style="width: 220px;" placeholder="请输入服务人员的姓名" type="text"  class="form-control">
	                           <!--  <select style="width: 150px;" class="form-control" id = "repairuser">
	                               	<option selected="" value="">请选择服务人员</option>
	                                <volist name = "rname" id = "volist">
										<option value="{$volist.id}">{$volist.pet_name}</option>
									</volist>
                                </select> -->
                                <select style="width: 150px;" class="form-control" id = "status">
	                               	<option selected="" value="">请选择处理状态</option>
										<option value="0">未处理</option>
										<option value="1">已处理</option>
                                </select>
	                                <button onclick="searchSubmit()" type="button" id="search_btn" class="btn btn-w-s btn-primary">搜索</button>
							</div>
						</div>
						<div class="row row-lg">
							<div class="col-sm-12">
								<div class="example-wrap">
									<div class="example">
										<div class="btn-group hidden-xs" id="table-toolbar" role="group">
											<!-- <button type="button" class="btn btn-outline btn-default J_showdialog" data-uri='{:U("add")}' data-title="添加" data-width="1000" data-height="800">
		                                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
		                                    </button> -->
		                                    <button type="button" class="btn btn-outline btn-default J_batchDelete"  data-uri="{:U('ajax_delete')}">
		                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
		                                    </button>
										</div>
										<table id="tablelist" class="table table-hover table-condensed">
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Panel Style -->
			</div>
		</div>
		<!-- 全局js -->
		<include file='Public:common_js' />
		<!-- Bootstrap table begin-->
		<link href="__PUBLIC__/hplus/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<script src="__PUBLIC__/system/js/bootstrap-table.config.js"></script>
		<script src="__PUBLIC__/hplus/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="__PUBLIC__/hplus/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
		<script src="__PUBLIC__/hplus/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<!-- Bootstrap table end-->

		<!--layer begin-->
		<script src="__PUBLIC__/hplus/js/plugins/layer/layer.min.js"></script>
		<!--layer end-->

		<!--sweetalert begin-->
		<link href="__PUBLIC__/hplus/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
		<script src="__PUBLIC__/hplus/js/plugins/sweetalert/sweetalert.min.js"></script>
		<!--sweetalert end-->

		
		<script type="text/javascript">
			var url = "{:U('ajax_getList')}";
			// 搜索 （根据条件重新加载数据）
			function searchSubmit(){
				$("#tablelist").bootstrapTable("removeAll");
				$('#tablelist').bootstrapTable('refresh', {
					silent: true, 
					query: {
						name: $("#search_name").val(),
						status: $("#status").val()
					}
				});
			}
			$(function() {
				/***初始化数据表格 begin***/
				$('#tablelist').bootstrapTable($.extend(true, bootstrap_table.datagridDefaultConfig, {
					//工具按钮用哪个容器
					toolbar: '#table-toolbar',
					//请求地址
					url: url,
					//显示切换视图
					showToggle: true,
					//排序字段名称
					sortName: "rt.id",
					//排序方式
					sortOrder: "desc",
					iconSize: 'outline',
					showColumns: true,
					icons: {
						refresh: 'glyphicon-repeat',
						toggle: 'glyphicon-list-alt',
						columns: 'glyphicon-list'
					},
					columns: [{
						field: 'checkbox',
						title: '',
						checkbox: true,
						align: 'center'		
					},
					{
						field: 'id',
						title: 'ID',
						sortable: true,
						align: 'left'
					},
					{
						field: 'pet_name',
						sortable: true,
						title: '服务人员',
						align: 'left'
					},
					{
						field: 'evaluate',
						sortable: true,
						title: '业主评分',
						align: 'left'
					},
					{
						field: 'images',
						sortable: true,
						title: '申诉内容图片',
						align: 'left',
						formatter: function (value){
							if (!empty(value)) {
								var img_html = "<a title='点击查看大图' target='_blank' href='"+value+"'><img src='"+value+"' width='30'/></a>";
								return img_html;
							}
						}
					},
					{
						field: 'reason',
						sortable: true,
						title: '申诉理由',
						align: 'left'
					},
					{
						field: 'addtime',
						sortable: true,
						title: '申诉时间',
						align: 'left'
					},
					{
						field: 'status',
						sortable: true,
						title: '处理状态',
						align: 'left'
					},
					{
						field: '',
						title: '操作',
						align: 'left',
						formatter: function(value, row, index) {
							//主键id							
							var id = row.id; 
							//名称标题之类的
							var name = row.name
							//操作显示代码
							var strs = "";
							//查看详情
							var detUrl = "{:U('detail')}?id=" + id;
							var detail = '&nbsp;<a href="javascript:void(0);" onclick="showDialog(this)"  data-uri="' + detUrl + '" data-title="订单详情" data-width="800" data-height="600" >查看订单详情</a>&nbsp;';
								strs += " " + detail;
							//查看服务人员信息
							var waitressUrl = "{:U('waitress')}?id=" + id;
							var waitress = '&nbsp;<a href="javascript:void(0);" onclick="showDialog(this)"  data-uri="' + waitressUrl + '" data-title="服务人员详情" data-width="800" data-height="600" >查看服务人员信息</a>&nbsp;';
								strs += " " + waitress;
							//查看业主信息
							var ownerUrl = "{:U('owner')}?id=" + id;
							var owner = '&nbsp;<a href="javascript:void(0);" onclick="showDialog(this)"  data-uri="' + ownerUrl + '" data-title="业主信息" data-width="800" data-height="600" >查看业主信息</a>&nbsp;';
								strs += " " + owner;
							return strs;
						}
					}]
				}));
				/***初始化数据表格 end***/
			});
		</script>
	</body> 
</html>