<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>帖子详情</title>
    <include file='Public:common_file' />
</head>
<body class="gray-bg">
    <div class="inmodal" style="background-color:#fff;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
        </button>
        <!-- <i class="fa fa-laptop modal-icon"></i> -->
        <h4 class="modal-title">主贴详情</h4>
        <small class="font-bold">
          <div class="modal-body">
            
            <p>帖子主题：{$info.title}</p>
            <p>帖子内容：{$info.content}</p>
            <p>审核状态：{$info.status}</p>
            <p>发帖人：{$info.uname}</p>
            <p style="float:right">{$info.addtime}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">关闭窗口</button>
      </div>
    </div>
    <include file='Public:common_js' />
    <!-- jQuery Validation plugin javascript begin-->
    <script src="__PUBLIC__/hplus/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/hplus/js/plugins/validate/messages_zh.min.js"></script>
    <!-- jQuery Validation plugin javascript end-->

    <!--弹出层组件 begin-->
    <link href="__PUBLIC__/hplus/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <script src="__PUBLIC__/hplus/js/plugins/sweetalert/sweetalert.min.js"></script>
    <!--弹出层组件 end-->
    
    <!--jquery form begin-->
    <script type="text/javascript" src="__PUBLIC__/system/js/jquery.form.js"></script>
    <!--jquery form end-->
    
    <!--layer begin-->
    <script src="__PUBLIC__/hplus/js/plugins/layer/layer.min.js"></script>
    <!--layer end-->
    
    <script type="text/javascript" src="__PUBLIC__/system/js/form-common.js"></script>
    
    <script type="text/javascript">
        function btn_submit(){
            $("#mainForm").submit();
        }
    </script>  
    <!--iCheck begin-->
    <link href="__PUBLIC__/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script src="__PUBLIC__/hplus/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            //关闭窗口按钮触发
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            $(".btn-white").on("click",function(){
                parent.layer.close(index);
            });
        });
    </script>
    <!--iCheck end-->

</body>
</html>
