<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加管理组</title>
    <include file='Public:common_file' />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated">
        <div class="row"> 
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>添加管理组</h5>
                        <div class="ibox-tools"> 
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal m-t" id="mainForm">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">管理组名称：</label>
                                <div class="col-sm-8">
                                    <input placeholder="请输入管理组名称" name="name" class="form-control" type="text" required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">排序：</label>
                                <div class="col-sm-8">
                                    <input placeholder="请输入排序" name="sort" class="form-control" type="text" required="true" number='true'>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">权限：</label>
                                <div class="col-sm-8">
                                    <div id="jstree"></div>
                                    <input type="hidden" name="permissions" id="hid_permissions" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button class="btn btn-primary" type="button" onclick="btn_submit()">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
	<include file='Public:common_js' />
	
    <!-- jQuery Validation plugin javascript begin-->
    <script src="__PUBLIC__/hplus/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/hplus/js/plugins/validate/messages_zh.min.js"></script>
    <script type="text/javascript">
    	$(function (){
    		//验证提示信息
	    	$("#mainForm").validate({
			    messages: {
			      name: {
			        required: "请输入管理组名称"
			      },
			      sort: {
			        required: "请输入排序",
			        number: "排序必须为数字"
			      }
			    }
			});	
    	});
    </script>
    <!-- jQuery Validation plugin javascript end-->
    
    <!--弹出层组件 begin-->
    <link href="__PUBLIC__/hplus/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <script src="__PUBLIC__/hplus/js/plugins/sweetalert/sweetalert.min.js"></script>
    <!--弹出层组件 end-->
    
    <!--jquery form begin-->
    <script type="text/javascript" src="__PUBLIC__/system/js/jquery.form.js"></script>
    <!--jquery form end-->
    
    <!--layer begin-->
    <script src="__PUBLIC__/hplus/js/plugins/layer/layer.min.js"></script>
    <!--layer end-->
    
    <script type="text/javascript" src="__PUBLIC__/system/js/form-common.js"></script>
    
    <!-- jsTree plugin javascript begin-->
    <link href="__PUBLIC__/hplus/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <script src="__PUBLIC__/hplus/js/plugins/jsTree/jstree.min.js"></script>
    <script type="text/javascript">
//   "state" : { "selected" : true } 
    	$(function (){
    		$('#jstree').jstree({
    			"checkbox" : {
			      	"keep_selected_style" : false
			    },
    			'plugins':["checkbox"],
    			'core': 
    			{
    				'data' : {$navigations}
    			}
    		});
    		 
    	});
    	function btn_submit(){
    		var ids = $('#jstree').jstree().get_checked();
    		$("#hid_permissions").val(ids);
    		$("#mainForm").submit();
    	}
    </script>
    <!-- jsTree plugin javascript end-->
</body>
</html>
