<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>批量推文分类</title>
    <include file='Public:common_file' />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>批量推文分类</h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal m-t" id="mainForm" data-NoClientValidate="1">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">分类</label>
                                <div class="col-sm-8">
                                    <select style="width: 150px;" class="form-control" name="typeid" id="typeid" required="true">
                                        <option selected="" value="">请选择类别</option>
                                        <volist name="rolelist" id="vol">
                                            <option value="{$vol.id}" <eq name='vol.id' value='$info.typeid'>selected='selected'</eq> >{$vol.name}-{$vol.names}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button class="btn btn-primary" type="button" onclick="btn_submit()">提交</button>
                                </div>
                            </div>
                            <input type="hidden" id="" name="id" value="{$info.id}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include file='Public:common_js' />
    <!-- jQuery Validation plugin javascript begin-->
    <script src="__PUBLIC__/hplus/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/hplus/js/plugins/validate/messages_zh.min.js"></script>
    <script type="text/javascript">
        $(function (){
            //验证提示信息
            $("#mainForm").validate({
                messages: {
                  roleid: {
                    required: "请选择管理员角色"
                  },
                  username: {
                    required: "请输入管理员名称"
                  },
                  status: {
                    required: "请选择是否启用此管理员"
                  }
                }
            }); 
        });
    </script>
    <!-- jQuery Validation plugin javascript end-->

    <!--弹出层组件 begin-->
    <link href="__PUBLIC__/hplus/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <script src="__PUBLIC__/hplus/js/plugins/sweetalert/sweetalert.min.js"></script>
    <!--弹出层组件 end-->
    
    <!--jquery form begin-->
    <script type="text/javascript" src="__PUBLIC__/system/js/jquery.form.js"></script>
    <!--jquery form end-->
    
    <!--layer begin-->
    <script src="__PUBLIC__/hplus/js/plugins/layer/layer.min.js"></script>
    <!--layer end-->
    
    <script type="text/javascript" src="__PUBLIC__/system/js/form-common.js"></script>
    
    <script type="text/javascript">
        function btn_submit(){
            $("#mainForm").submit();
        }
    </script>  
    <!--iCheck begin-->
    <link href="__PUBLIC__/hplus/css/plugins/iCheck/custom.css" rel="stylesheet">
    <script src="__PUBLIC__/hplus/js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
    <!--iCheck end-->

</body>
</html>
