<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>账户资金记录</title>
		<meta name="keywords" content="账户资金记录">
		<meta name="账户资金记录">
		<include file='Public:common_file' />
	</head>
	<body class="gray-bg">
	    <!--<div class="row wrapper border-bottom white-bg page-heading">
	        <div class="col-sm-4">
	            <h2>账户资金记录</h2>
	            <ol class="breadcrumb">
	                <li>
	                    <a href="javascript:void(0);">主页</a>
	                </li>
	                <li>
	                    <a href="javascript:void(0);">系统管理</a>
	                </li>
	                <li>
	                    <strong>账户资金记录</strong>
	                </li>
	            </ol>
	        </div> 
	    </div>-->
		<div class="wrapper wrapper-content animated">
			<div class="ibox float-e-margins">
				<!-- Panel Style -->
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>账户资金记录</h5>
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
							<a class="close-link">
								<i class="fa fa-times"></i>
							</a>
						</div>
					</div>
					<div class="ibox-content">
						<div class="row row-lg">
							<div class="col-sm-12 me-search" >
	                                <input id="search_name" style="width: 220px;" placeholder="请输入服务人员姓名或工号" type="text"  class="form-control" >
	                                <!-- <select style="width: 150px;" class="form-control" id = "community">
	                                	<option selected="" value="">请选择社区</option>
	                                	<volist name = "cname" id = "volist">
                                        <option value="{$volist.id}">{$volist.name}</option>
       									</volist>
                                    </select> -->
                                    <select style="width: 180px;" class="form-control" id = "typess">
	                                	<option selected="" value="">请选择资金流动类型</option>
	                                	<option  value="1">收入</option>
	                                	<option  value="2">支出</option>
                                    </select>
                                    <select style="width: 180px;" class="form-control" id = "status">
	                                	<option selected="" value="">请选择处理状态</option>
	                                	<option  value="0">待处理</option>
	                                	<option  value="1">提现成功</option>
	                                	<option  value="2">提现失败</option>
	                                	<option  value="3">扣款成功</option>
	                                	<option  value="4">扣款失败</option>
                                    </select>
	                                <button onclick="searchSubmit()" type="button" id="search_btn" class="btn btn-w-s btn-primary">搜索</button>
							</div>
						</div>
						<div class="row row-lg">
							<div class="col-sm-12">
								<div class="example-wrap">
									<div class="example">
										
										<table id="tablelist" class="table table-hover table-condensed">
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Panel Style -->
			</div>
		</div>
		<!-- 全局js -->
		<include file='Public:common_js' />
		<!-- Bootstrap table begin-->
		<link href="__PUBLIC__/hplus/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
		<script src="__PUBLIC__/system/js/bootstrap-table.config.js"></script>
		<script src="__PUBLIC__/hplus/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="__PUBLIC__/hplus/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
		<script src="__PUBLIC__/hplus/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
		<!-- Bootstrap table end-->

		<!--layer begin-->
		<script src="__PUBLIC__/hplus/js/plugins/layer/layer.min.js"></script>
		<!--layer end-->

		<!--sweetalert begin-->
		<link href="__PUBLIC__/hplus/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
		<script src="__PUBLIC__/hplus/js/plugins/sweetalert/sweetalert.min.js"></script>
		<!--sweetalert end-->

		
		<script type="text/javascript">
			var url = "{:U('ajax_getList')}?uid={$Think.get.uid}";
			// 搜索 （根据条件重新加载数据）
			function searchSubmit(){
				$("#tablelist").bootstrapTable("removeAll");
				$('#tablelist').bootstrapTable('refresh', {
					silent: true, 
					query: {
						name: $("#search_name").val(),
						typess: $("#typess").val(),
						status: $("#status").val()
					}
				});
			}
			$(function() {
				/***初始化数据表格 begin***/
				$('#tablelist').bootstrapTable($.extend(true, bootstrap_table.datagridDefaultConfig, {
					//工具按钮用哪个容器
					toolbar: '#table-toolbar',
					//请求地址
					url: url,
					//显示切换视图
					showToggle: true,
					//排序字段名称
					sortName: "fr.id",
					//排序方式
					sortOrder: "desc",
					iconSize: 'outline',
					showColumns: true,
					icons: {
						refresh: 'glyphicon-repeat',
						toggle: 'glyphicon-list-alt',
						columns: 'glyphicon-list'
					},
					columns: [{
						field: 'checkbox',
						title: '',
						checkbox: true,
						align: 'center'		
					},
					{
						field: 'id',
						title: 'ID',
						sortable: true,
						align: 'left'
					},
					{
						field: 'pet_name',
						sortable: true,
						title: '服务人员姓名',
						align: 'left'
					},
					{
						field: 'job_number',
						sortable: true,
						title: '工号',
						align: 'left'
					},
					{
						field: 'typess',
						sortable: true,
						title: '资金流动类型',
						align: 'left'
					},
					{
						field: 'type',
						sortable: true,
						title: '操作类型',
						align: 'left'
					},
					{
						field: 'sum',
						sortable: true,
						title: '操作金额',
						align: 'left'
					},
					{
						field: 'addtime',
						sortable: true,
						title: '操作发起时间',
						align: 'left'
					},
					{
						field: 'managename',
						sortable: true,
						title: '处理管理员',
						align: 'left'
					},
					{
						field: 'handletime',
						sortable: true,
						title: '处理时间',
						align: 'left'
					},
					{
						field: 'status',
						sortable: true,
						title: '处理状态',
						align: 'left'
					}]
				}));
				/***初始化数据表格 end***/
			});
		</script>
	</body> 
</html>